BasedOnStyle: Microsoft
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: All
BreakConstructorInitializers: AfterColon
